# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache
**/build/

# IDE - IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/
.idea_modules/

# Eclipse
.classpath
.project
.settings/
bin/
tmp/
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties

# VS Code
.vscode/

# Compiled class files
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Avoid ignoring Gradle wrapper jar file
!gradle/wrapper/gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper properties
!gradle/wrapper/gradle-wrapper.properties

# Java specific
target/
